<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href="/src/search.svg" type="image/svg+xml">
        <link rel="stylesheet" href="/src/index.css" />
        <script src="/src/search.js" defer></script>
        <title>note</title>
    </head>
    <body>
        <h1>ノート</h1>
        <div class="search">
          <div>
              <img src="/src/search.svg" alt="Search">
          </div>
          <input type="text" id="search">
        </div>
        <div class="tags"></div>
        <div class="result"></div>
        <script>
          const data = [
            {% for post in collections.all %}
              {
                title: "{{ post.data.title }}",
                url: "{{ post.url }}",
                category: "{{ post.data.category }}",
                keys: "{{ post.data.keys }}"
              }{% if forloop.last == false %},{% endif %}
            {% endfor %}
          ];
        </script>
    </body>
</html>
