:root {
    @media (prefers-color-scheme: light) {
        --body-bg: oklch(0.99 0 0);
        --body-color: oklch(0.37 0 0);
        --examples-bg: white;
        --examples-border: lightgray;
        --examples-trans: oklch(0.7 0 0);
        --forms-bg: oklch(0.96 0 0);
        --forms-border: oklch(0.9 0 0);
    }

    @media (prefers-color-scheme: dark) {
        --body-bg: oklch(0.26 0 0);
        --body-color: oklch(0.8 0 0);
        --examples-bg: oklch(0.22 0 0);
        --examples-border: oklch(0.3 0 0);
        --examples-trans: oklch(0.5 0 0);
        --forms-bg: oklch(0.3 0 0);
        --forms-border: oklch(0.4 0 0);
    }
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 20px;
    color: var(--body-color);
    background-color: var(--body-bg);
}

body {
    padding: 20px;
}

h1 {
    margin: 20px 0;
    text-align: center;
}

h2 {
    margin: 20px 0;
}

p {
    line-height: 2em;
}

a {
    color: steelblue;
    text-decoration-thickness: from-font;
    text-underline-offset: 6px;
    text-decoration-line: unset;
}

a:hover {
    text-decoration-line: underline;
}

ul {
    padding-left: 20px;
    list-style-type: circle;
}

ol {
    padding-left: 20px;
}

strong {
    color: steelblue;
}

em {
    font-style: normal;
    color: indianred;
}

img {
    max-width: 100%;
}

.forms {
    margin: 20px 0;

    span {
        padding: 0 2px;
        margin-right: 4px;
        border-radius: 8px;
        border: 1px solid var(--forms-border);
        background-color: var(--forms-bg);
    }
}

.examples {
    margin: 20px 0;
    padding: 6px 10px;
    border-radius: 8px;
    border: 1px solid var(--examples-border);
    background-color: var(--examples-bg);

    span:nth-child(2) {
        color: var(--examples-trans);
    }
}
