:root {
	color-scheme: light dark;
	--gray-hard: oklch(0.5 0 0 / 0.2);
	--gray-soft: oklch(0.5 0 0 / 0.1);
}

html {
	font-size: 20px;
	color: light-dark(oklch(0.37 0 0), oklch(1 0 0));
	background-color: light-dark(oklch(1 0 0), oklch(0 0 0));
}

body {
	margin: 0;
	padding: 60px 20px;
}

h1 {
	text-align: center;
}

a {
	color: steelblue;
	text-decoration-line: unset;

	&:hover {
		text-decoration-thickness: from-font;
		text-underline-offset: 6px;
		text-decoration-line: underline;
	}
}

ul {
	padding-left: 22px;
	list-style: circle;
}

ol {
	padding-left: 30px;
}

li {
	margin: 10px 0;
}

table {
	font-size: 1em;
	margin: 20px 0;
	border: 1px solid light-dark(oklch(0.9 0 0), oklch(0.3 0 0));
	border-radius: 10px;
	border-spacing: 0px;
	overflow: hidden;
	min-width: max-content;

	thead {
		background-color: light-dark(oklch(0.96 0 0), oklch(0.2 0 0));
	}

	td,
	th {
		padding: 10px 20px;
		text-align: left;
	}
}

em {
	font-style: normal;
	color: indianred;
}

blockquote {
	margin: 20px 0;
	padding: 8px;
	border-left: 6px solid light-dark(oklch(0.4 0 0), oklch(0.9 0 0));
	border-radius: 6px;
	background-color: light-dark(oklch(0.96 0 0), oklch(0.3 0 0));

	ol,
	ul {
		margin: 0;
	}

	p {
		margin: 0;
	}
}

pre {
	padding: 6px 10px;
	border-radius: 8px;
	border: 1px solid lightgray;
	overflow: scroll;
}

pre code {
	tab-size: 4;
}

img {
	max-width: min(100%, 800px);
}

pre code[class="color"] {
	.red {
		color: indianred;
	}

	.green {
		color: seagreen;
	}

	.blue {
		color: slateblue;
	}

	.gray {
		color: gray;
	}
}
pre code[class="diff"] {
	.add {
		color: seagreen;
		background-color: lightgoldenrodyellow;
	}

	.del {
		color: indianred;
		background-color: antiquewhite;
	}
}

pre code[class="text"] {
	.comment {
		color: gray;
	}
}
