html {
	font-family: Hiragino Sans GB;
}

h1 {
	font-family: Hiragino Mincho ProN;
}

h3 {
	font-family: Hiragino Mincho ProN;
	font-weight: normal;
}

code {
	white-space: pre-line;
	font-weight: 300;

	.comment {
		color: gray;
	}
}
