.toc ul {
    margin: 0;
}

pre {
    overflow: scroll;
}

/* syntas highlight */
.token.comment {
    color: oklch(0.5 0 0 / 0.5);
}

.token.keyword,
.token.property {
    color: indianred;
}

.token.selector,
.token.function {
    color: steelblue;
}
