code:not(pre code) {
    font-family: auto;
}

pre {
    code {
        font-family: auto;
        white-space: pre-line;
    }
}

/* syntas highlight */
.token.comment {
    color: oklch(0.5 0 0 / 0.5);
}

.token.sharp {
    display: none;
}
