:root {
    @media (prefers-color-scheme: light) {
        --body-bg: oklch(0.99 0 0);
        --body-color: oklch(0.37 0 0);
        --pre-bg: oklch(1 0 0);
        --pre-border: oklch(0.87 0 0);
        --code-bg: oklch(0.96 0 0);
        --code-border: oklch(0.9 0 0);
    }

    @media (prefers-color-scheme: dark) {
        --body-bg: oklch(0.26 0 0);
        --body-color: oklch(0.8 0 0);
        --pre-bg: oklch(0.22 0 0);
        --pre-border: oklch(0.3 0 0);
        --code-bg: oklch(0.3 0 0);
        --code-border: oklch(0.4 0 0);
    }
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 20px;
    color: var(--body-color);
    background-color: var(--body-bg);
}

body {
    padding: 20px;
}

h1 {
    margin: 20px 0;
    text-align: center;
}

h2 {
    margin: 20px 0;
}

h2:target {
    background-color: oklch(0.63 0.07 242 / 0.2);
    border-radius: 10px;
}

p {
    line-height: 2em;
}

a {
    color: steelblue;
    text-decoration-thickness: from-font;
    text-underline-offset: 6px;
    text-decoration-line: unset;
}

a:hover {
    text-decoration-line: underline;
}

ul {
    margin: 20px 0;
    padding-left: 20px;
    list-style-type: circle;
}

ol {
    margin: 20px 0;
    padding-left: 20px;
}

table td {
    padding: 10px;
    border: 1px solid var(--pre-border);
    border-radius: 2px;
}

strong {
    color: steelblue;
}

em {
    font-style: normal;
    color: indianred;
}

img {
    max-width: 100%;
}

code:not(pre code) {
    padding: 0 2px;
    border-radius: 8px;
    border: 1px solid var(--code-border);
    background-color: var(--code-bg);
    font-family: auto;
}
.forms {
    margin: 20px 0;

    span {
        padding: 0 2px;
        margin-right: 4px;
        border-radius: 8px;
        border: 1px solid var(--code-border);
        background-color: var(--code-bg);
    }
}

pre {
    margin: 20px 0;
    padding: 6px 10px;
    border-radius: 8px;
    border: 1px solid var(--pre-border);
    background-color: var(--pre-bg);

    code {
        font-family: auto;
        white-space: pre-line;
    }
}

/* syntas highlight */
.token.comment {
    color: oklch(0.5 0 0 / 0.5);
}

.token.sharp {
    display: none;
}
